
doctype html(lang="fr")
// INDEX1
html
	head
		title INDEX-1
	body
		h1 INDEX-1 (le Titre de la page)
		hr
		p [ La barre de Navigation ]
		hr
		p Eventuellment un texte explicatif 
		hr
		p
			| C'est ici que l'on va mettre les applications

