doctype html(lang="fr")
// INDEX 2
html
	head
		include head.pug
		title INDEX-2
	body
		.container
			h3(class="text-muted") INDEX DES APPLICATIONS
			hr
			p [ La barre de Navigation ]
			hr
			p Eventuellment un texte explicatif 
			hr
			p
				| C'est ici que l'on va mettre les applications

