// BARRE DE NAVIGATION 
.header.clearfix
	nav
		ul(class="nav nav-pills float-left")
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="index.html") Accueil
			li(class="nav-item")
				a(class="nav-link " data-toggle="link" href="about.html") A Propos

