{% extends "base.jinja" %}
{% block titre %}{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block entete %}
	<h3 class="text-muted">A PROPOS</h3>
{% endblock %}

{% block contenu %}
<p>
	A propos de ce site web
	<pre>
	Ce site web est un site pour montrer ce que l'on peut faire 
	avec HTML + BOOTSTRAP + JINJA
	</pre>
</p>
{% endblock %}
